@import url("https://use.typekit.net/ahp5teq.css");


html,
body,
#root{
  --wabling: black;
  --goro: gold;
  --kibrown: rgb(130, 129, 69);
  --fontDhurajati: "teko", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  --wabling:rgba(255, 255, 255, 0.1);
   --wablingkibla:rgba(4, 0, 0, 0.245);
   scroll-behavior: smooth;
  --fontgoldman:"Goldman", sans-serif;
}*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: var(--fontDhurajati);
  background: #000;
  color: #fff;
}

.body::-webkit-scrollbar
{
  width: 0;
}

.hero{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}


.hero-overlay{
  position: absolute;
  inset: 0;
  display: none;
  background:
  linear-gradient(
    rgba(0,0,0,.7),
     rgba(130, 129, 69, 0.6)
  );
}

.hero-content{
  position: relative;
  z-index: 2;

  width: 90%;
  max-width: 1200px;
  font-family: var(--fontDhurajati);
  font-style: normal;
  margin-top: 300px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.hero-tag{
  display: inline-block;

  padding: 10px 20px;

  border: 1px solid rgba(255,255,255,.2);

  letter-spacing: 3px;
  font-size: 1.1rem;
  margin-top: 45px;
  background: rgba(201, 162, 75, 0.2); 
  border: 1px solid rgb(201, 162, 75);
}

.hero h1{
  margin-top: 20px;
  font-size: clamp(2rem,6vw,5rem);
  font-weight: 900;
  letter-spacing: 1px;
  line-height: .95;
  margin-bottom: 20px;
}

.mental{
  max-width: 650px;
  margin: 25px auto;

  color: azure;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
}

.hero-buttons{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-buttons button{
  padding: 16px 35px;

  border: none;
  cursor: pointer;

  font-weight: 600;
}

/*buttons*/
.btn-grad,
.btn-gradd
{
  background-image: linear-gradient(to right, rgba(201, 161, 75, 0.988) 0%, #E7E9BB 51%, rgb(201, 162, 75)100%);
  color: black;
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fontDhurajati);
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  display: flex;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  box-shadow: 0 0 2px #eee;
  text-decoration: none;
}

/*HOME*/
.home-container
{
  height: inherit;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: black;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  font-family: var(--fontDhurajati);
}

.home-container::-webkit-scrollbar
{
  width: 0;
}

/*Scroll float*/
.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.6rem, 8vw, 10rem);
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
}

.char {
  display: inline-block;
}


/*About*/
.genje
{
  position: relative;
  width: 100%;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.sana
{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: transparent;
  height: 110vh;
  gap: 40px;
  justify-items: center;
  align-items: center;
}

@media (min-width: 700px) {
  .sana {
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    margin-top: 10%;
  }

  .genje
  {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
}

.wild
{
  width: 350px;
  height: 350px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
}

.wild:hover
{
  content: '';
  transition: 0.2s ease-in-out;
  color: rgb(201, 162, 75);
}

.wolfy
{
  height: 60px;
  width: 60px;
  position: absolute;
}

.dream
{
  background-color: transparent;
  height: 100px;
  margin-top: 20px;
  position: relative;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.tag-hero
{
  justify-content: center;
  padding: 10px 20px;
  display: flex;
  border: 1px solid rgba(255,255,255,.2);
  height: 40px;
  letter-spacing: 3px;
  font-size: 1.1rem;
  background: rgba(201, 162, 75, 0.2); 
  border: 1px solid rgb(201, 162, 75);
  border-radius: 20px;
  font-family: var(--fontDhurajati);
  font-weight: 100;
  letter-spacing: 1px;
}

.tag-hero:hover
{
  content: '';
  border: 1px solid azure;
}


/*Scroll Reveal*/
.bdady
{
  background-color: transparent;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
  height: 200px;
  justify-content: center;
}

@media (min-width:800px) {
  .bdady
{
  background-color: transparent;
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: black;
  height: 150px;
  justify-content: center;
}
}

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}

.jenita
{
  display: flex;
  width: 100%;
  position: relative;
  height: 120px;
  margin-top: 30px;
  background-color: transparent;
  color: rgb(201, 162, 75);
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
  font-size: clamp(1.1rem, 1.9vw, 3rem);
}

@media (min-width:700px) {
  .jenita
{
  display: flex;
  width: inherit;
  height: 100px;
  margin-top: 80px;
  background-color: transparent;
  color: rgb(201, 162, 75);
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
  font-size: clamp(1.1rem, 2.4vw, 4rem);
}

.manoseti
{
  z-index: 2;
  position: relative;
  height: 600px;
  margin-top: 0px;
  background-color: transparent;
}
}

.safisha
{
  color: azure;
  background:
  linear-gradient(
    rgba(0,0,0,.7) 30%,
      rgb(201, 162, 75)
  );
  padding: 10px;
  width: 250px;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  font-family: var(--fontDhurajati);
}

/*Flowing menu*/
.manoseti
{
  z-index: 2;
  position: relative;
  height: 600px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: transparent;
}

/*Roating Text*/
.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}


/*Card Nav*/
.card-nav-container {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  z-index: 99;
  box-sizing: border-box;
}

.card-nav {
  display: block;
  height: 60px;
  padding: 0;
  background-color: var(--wablingkibla);
  backdrop-filter: blur(6px) saturate(1.8) brightness(1.2);
  -webkit-backdrop-filter: blur(6px) saturate(1.8) brightness(1.2);
  border: 0.5px solid rgba(130, 129, 69, 0.541);
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  will-change: height;
}

.card-nav-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.45rem 0.55rem 1.1rem;
  z-index: 2;
}

.hamburger-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  color: #fff;
}

.hamburger-menu:hover .hamburger-line {
  opacity: 0.75;
}

.hamburger-line {
  width: 30px;
  height: 2px;
  background-color: white;
  transition:
    transform 0.25s ease,
    opacity 0.2s ease,
    margin 0.3s ease;
  transform-origin: 50% 50%;
}

.hamburger-menu.open .hamburger-line:first-child {
  transform: translateY(4px) rotate(45deg);
}

.hamburger-menu.open .hamburger-line:last-child {
  transform: translateY(-4px) rotate(-45deg);
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 38px;
}

.card-nav-cta-button {
  background-color:  rgb(130, 129, 69);
  color: black;
  border: none;
  border-radius: calc(0.75rem - 0.35rem);
  padding: 0 1rem;
  height: 100%;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.card-nav-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  padding: 0.5rem;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}

.card-nav.open .card-nav-content {
  visibility: visible;
  pointer-events: auto;
}

.nav-card {
  height: 100%;
  flex: 1 1 0;
  min-width: 0;
  border-radius: calc(0.75rem - 0.2rem);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 8px;
  user-select: none;
}

.tems
{
  color: black;
}

.nav-card-label {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.nav-card-links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.nav-card-link {
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.nav-card-link:hover {
  opacity: 0.75;
}

@media (max-width: 768px) {
  .card-nav-container {
    width: 90%;
    top: 1.2em;
  }

  .card-nav-top {
    padding: 0.5rem 1rem;
    justify-content: space-between;
  }

  .hamburger-menu {
    order: 2;
  }

  .logo-container {
    position: static;
    transform: none;
    order: 1;
  }

  .card-nav-cta-button {
    display: none;
  }

  .card-nav-content {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    padding: 0.5rem;
    bottom: 0;
    justify-content: flex-start;
  }

  .nav-card {
    height: auto;
    min-height: 60px;
    flex: 1 1 auto;
    max-height: none;
  }

  .nav-card-label {
    font-size: 18px;
  }

  .nav-card-link {
    font-size: 15px;
  }
}

.topbar
{
  position: fixed;
  margin-top: -10px;
  
}


/*Scroll stack*/
.kartelo
{
  background-color: transparent;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  margin-bottom: 20px;
}

.elon
{
  background-color: white;
  color: rgb(201, 162, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.trump
{
  background-color: black;
  color: rgb(201, 162, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.kamala
{
  color: black;
  background-color: rgb(201, 162, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*rate card-- sroll menu >>*/
.zuck
{
  height: 160px;
  width: 300px;
  flex-shrink: 0;
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  align-items: flex-start;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.yolo
{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.meso 
{
  font-size: 16px;
  letter-spacing: 1px;

}

.maja 
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.msee 
{
  width: 60px;
  height: 60px;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  border-radius: 50%;
}

.oo
{
  background-color: aqua;
}

.ii 
{
  background-color: yellow;
}

.pp 
{
  background-color: chartreuse;
}

.aa 
{
  background-color: cornsilk;
}

.ss 
{
  background-color: darkorange;
}


.rates 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mcfullstop
{
  margin-top: 20px;
  border-radius: 20px;
  width: 250px;
  height: 35px;
  padding: 5px;
  border: none;
  color: black;
  letter-spacing: 1px;
}

.mcfullstop:hover
{
  box-shadow: 2px 2px 8px black;
}




.bombo
{
  font-weight: 600;
  color: silver;
}

.alaine 
{
  font-weight: 300;
}

.moto 
{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: inherit;
  gap: 10px;
  background-color: transparent;
  height: 350px;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
}

.moto::-webkit-scrollbar
{
  width: 0;
}


.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

.scroll-stack-scroller::-webkit-scrollbar
{
  width: 0;
}

.scroll-stack-inner {
  padding: 10vh 0rem 10rem;
  min-height: 10vh;
  background-color: transparent;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 20rem;
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}


/*Masonry*/
.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.item-wrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 6px;
  cursor: pointer;
  top: 0;
  left: 0;
}

.item-wrapper > .item-img {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}


/*Shuffle*/
.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform;
  line-height: 1;
  font-size: 1rem;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  visibility: hidden;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  position: relative;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
}

.shuffle-char {
  line-height: 1;
  display: inline-block;
  text-align: center;
}

.uzi
{
  width: 100%;
  font-weight: bold;
  color:  rgb(201, 162, 75);
  display: flex;
  font-size: clamp(1.1rem, 4vw, 5rem);
  justify-content: center;  
  text-transform: uppercase;
  margin-bottom: 40px;
}

/*Flowing Menu*/
.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid;
}

.menu__item:first-child {
  border-top: none;
}

.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  font-size: 4vh;
}

.menu__item-link:hover {
  color: inherit;
}

.menu__item-link:focus:not(:focus-visible) {
  color: inherit;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translate3d(0, 101%, 0);
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
  background-color: rgb(201, 162, 75);
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: fit-content;
  will-change: transform;
}

.marquee__part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.marquee span {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4vh;
  line-height: 1;
  padding: 0 1vw;
}

.marquee__img {
  width: 200px;
  height: 7vh;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}


/*circular gallery*/
.circular-gallery
{
  height: 40vh;
  width: 100%;
}

.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  font-size: clamp(1.1rem, 4vw, 5rem);
  height: 200px;
  font-weight: bold;
  color: #fff;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.manymen
{
  width: 100%;
  position: relative;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 50px;
  align-items: center;
}


/*circular text*/
.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-weight: bold;
  color: #fff;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.bundi 
{
  cursor: pointer;
}

.bundi:hover .mwitu 
{
  transform: scale(1.7);
  transition: 0.5s;
}




/*============
======================

FROM BITH

======================
==============*/

.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}



/*Top bar*/
.ger 
{
  height: 55px;
}

.donjo
{
  align-items: center;
  display: flex;
  gap: 3px;
  font-weight: 600;
  margin-right: 20px;
}

.dongaa
{
  font-weight: 900;
  font-size: 35px;
  color: black;
}

.germ 
{
  margin-top: -6px;
  height: 40px;
}

/*home*/
.home-con
{
 background: #020024;
 background: linear-gradient(90deg,rgb(4, 4, 5) 0%,  rgba(201, 161, 75, 0.322)50%, rgb(0, 0, 5) 100%);
 overflow: hidden;
 padding-top: 70px;
 width: 100%;
 height: 100vh;
 display: inline-table;
}

.home-con::-webkit-scrollbar
{
  width: 0;
}

.genn 
{
  height: 100px;
  margin-left: 10px;
  width: 100px;
}

.bastad
{
  height: 600px;
  box-shadow: 1px 4px 12px black;
  background-color: black;
  margin-top: 10px;
  width: 100%;
  clip-path: shape(from 0 0,vline to calc(100% - 5px),curve to 4.17% calc(100% - 15.5px) with 2.78% calc(100% - 25px),curve to 6.94% calc(100% - 19px) with 5.56% calc(100% - 16px),curve to 9.72% calc(100% - 20px) with 8.33% calc(100% - 2px),curve to 12.5% calc(100% - 44px) with 11.11% calc(100% - 38px),curve to 15.28% calc(100% - 27.5px) with 13.89% calc(100% - 50px),curve to 18.06% calc(100% - 20.5px) with 16.67% calc(100% - 5px),curve to 20.83% calc(100% - 23.5px) with 19.44% calc(100% - 36px),curve to 23.61% calc(100% - 10.5px) with 22.22% calc(100% - 11px),curve to 26.39% calc(100% - 5.5px) with 25% calc(100% - 10px),curve to 29.17% calc(100% - 9.5px) with 27.78% calc(100% - 1px),curve to 31.94% calc(100% - 11.5px) with 30.56% calc(100% - 18px),curve to 34.72% calc(100% - 20px) with 33.33% calc(100% - 5px),curve to 37.5% calc(100% - 23px) with 36.11% calc(100% - 35px),curve to 40.28% calc(100% - 28px) with 38.89% calc(100% - 11px),curve to 43.06% calc(100% - 24.5px) with 41.67% calc(100% - 45px),curve to 45.83% calc(100% - 25.5px) with 44.44% calc(100% - 4px),curve to 48.61% calc(100% - 44.5px) with 47.22% calc(100% - 47px),curve to 51.39% calc(100% - 31px) with 50% calc(100% - 42px),curve to 54.17% calc(100% - 26.5px) with 52.78% calc(100% - 20px),curve to 56.94% calc(100% - 23.5px) with 55.56% calc(100% - 33px),curve to 59.72% calc(100% - 13.5px) with 58.33% calc(100% - 14px),curve to 62.5% calc(100% - 26.5px) with 61.11% calc(100% - 13px),curve to 65.28% calc(100% - 41px) with 63.89% calc(100% - 40px),curve to 68.06% calc(100% - 28.5px) with 66.67% calc(100% - 42px),curve to 70.83% calc(100% - 27.5px) with 69.44% calc(100% - 15px),curve to 73.61% calc(100% - 12.5px) with 72.22% calc(100% - 0px),curve to 76.39% calc(100% - 27.5px) with 75% calc(100% - 25px),curve to 79.17% calc(100% - 28px) with 77.78% calc(100% - 30px),curve to 81.94% calc(100% - 27px) with 80.56% calc(100% - 26px),curve to 84.72% calc(100% - 34px) with 83.33% calc(100% - 28px),curve to 87.5% calc(100% - 28px) with 86.11% calc(100% - 40px),curve to 90.28% calc(100% - 1px) with 88.89% calc(100% - 16px),curve to 93.06% calc(100% - 37px) with 91.67% calc(100% - 46px),curve to 95.83% calc(100% - 23.5px) with 94.44% calc(100% - 28px),curve to 100% calc(100% - 15px) with 97.22% calc(100% - 19px),vline to 0, hline to 0);
  display: flex;
  position: relative;
}

.mboto {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 12px;
  transition: opacity 0.8s ease-in;
}

/* fade states */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* slow zoom animation (Ken Burns effect) */
.zoom {
  animation: slowZoom 12s ease-in-out infinite alternate;
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

.mboka
{
  position: absolute;
  background-color: transparent;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 0.4px;
  font-size: 35px;
  scale: 1.0;
  color: white;
  margin-top: 320px;
  
  height: 210px;

}

.carpet 
{
  min-width: 450px;
  max-width: inherit;
  border-radius: 40px;
  height: 300px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .carpet 
  {
    min-width: 700px;
    max-width: inherit;
    border-radius: 60px;
    height: 300px;
    margin-top: 10px;
  }
}

.worrry 
{
  color: azure;
  font-weight: 800;
  letter-spacing: 0.4px;
  text-wrap: nowrap;
}

.mokoro 
{
  color: silver;
  letter-spacing: 0.3;
}

.ndege
{
  color: azure;
  letter-spacing: 0.3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifa;
}

.mandamano 
{
  width: 500px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 5px;
}

.lurk 
{
  font-size: 52px;
  margin-top: 15px;
  height: 100px;
  font-weight: 700;
  letter-spacing: 0.4;
}

.wawili 
{
  gap: 30px;
  height: 90px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  clip-path: shape(from 0 0,vline to calc(100% - 5px),curve to 4.17% calc(100% - 15.5px) with 2.78% calc(100% - 25px),curve to 6.94% calc(100% - 19px) with 5.56% calc(100% - 16px),curve to 9.72% calc(100% - 20px) with 8.33% calc(100% - 2px),curve to 12.5% calc(100% - 44px) with 11.11% calc(100% - 38px),curve to 15.28% calc(100% - 27.5px) with 13.89% calc(100% - 50px),curve to 18.06% calc(100% - 20.5px) with 16.67% calc(100% - 5px),curve to 20.83% calc(100% - 23.5px) with 19.44% calc(100% - 36px),curve to 23.61% calc(100% - 10.5px) with 22.22% calc(100% - 11px),curve to 26.39% calc(100% - 5.5px) with 25% calc(100% - 10px),curve to 29.17% calc(100% - 9.5px) with 27.78% calc(100% - 1px),curve to 31.94% calc(100% - 11.5px) with 30.56% calc(100% - 18px),curve to 34.72% calc(100% - 20px) with 33.33% calc(100% - 5px),curve to 37.5% calc(100% - 23px) with 36.11% calc(100% - 35px),curve to 40.28% calc(100% - 28px) with 38.89% calc(100% - 11px),curve to 43.06% calc(100% - 24.5px) with 41.67% calc(100% - 45px),curve to 45.83% calc(100% - 25.5px) with 44.44% calc(100% - 4px),curve to 48.61% calc(100% - 44.5px) with 47.22% calc(100% - 47px),curve to 51.39% calc(100% - 31px) with 50% calc(100% - 42px),curve to 54.17% calc(100% - 26.5px) with 52.78% calc(100% - 20px),curve to 56.94% calc(100% - 23.5px) with 55.56% calc(100% - 33px),curve to 59.72% calc(100% - 13.5px) with 58.33% calc(100% - 14px),curve to 62.5% calc(100% - 26.5px) with 61.11% calc(100% - 13px),curve to 65.28% calc(100% - 41px) with 63.89% calc(100% - 40px),curve to 68.06% calc(100% - 28.5px) with 66.67% calc(100% - 42px),curve to 70.83% calc(100% - 27.5px) with 69.44% calc(100% - 15px),curve to 73.61% calc(100% - 12.5px) with 72.22% calc(100% - 0px),curve to 76.39% calc(100% - 27.5px) with 75% calc(100% - 25px),curve to 79.17% calc(100% - 28px) with 77.78% calc(100% - 30px),curve to 81.94% calc(100% - 27px) with 80.56% calc(100% - 26px),curve to 84.72% calc(100% - 34px) with 83.33% calc(100% - 28px),curve to 87.5% calc(100% - 28px) with 86.11% calc(100% - 40px),curve to 90.28% calc(100% - 1px) with 88.89% calc(100% - 16px),curve to 93.06% calc(100% - 37px) with 91.67% calc(100% - 46px),curve to 95.83% calc(100% - 23.5px) with 94.44% calc(100% - 28px),curve to 100% calc(100% - 15px) with 97.22% calc(100% - 19px),vline to 0, hline to 0);
  display: flex;
}

.quen 
{
  width: 40px;
  height: 40px;
  
}

.gin 
{
  width: 120px;
  align-items: center;
  border-radius: 30px;
  background-color: white;
  color: #020024;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.3;
  height: 30px;
}

.gin:hover
{
  transition: 0.6s ease-in-out;
  background-color: blue; 
  color: white;
}

.dizel 
{
  gap: 20px;
  display: flex;
  justify-content: center;
}

.onyi 
{
  position: absolute;
  align-self: center;
  justify-self: center;
  display: flex;
  width: inherit;
  height: 150px;
  flex-direction: column;
}

.cman 
{
  background-color: rgba(4, 0, 0, 0.245);
  color: azure;
  box-shadow: 2px 2px 12px  rgba(4, 0, 0, 0.245);
}


/*advert*/
.bithd
{
  height: 550px;
  border-radius: 20px;
  background-color: transparent;
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns:1fr ;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/* Tablets and larger */
@media (min-width: 700px) {
  .bithd {
    grid-template-columns: repeat(2, 1fr);
  }
}

.jamo
{
  background-color: transparent;
}

.mbwexe
{
  background-color: white;
}

.utat
{
  background-color: black;
}

.nei
{
  background-color: greenyellow;
}

.ngovo
{
  background-color: rgb(255, 0, 0);
}

.usit
{
  background-color: white;
}

.slim
{
  width: 300px;
  background-color: transparent;
  font-size: 20px;
  color: white;
  text-shadow:2px 2px 4px black;
  letter-spacing: 1px;
  font-weight: 700;
  text-wrap: wrap;
  border-radius: 10px;
  height: 320px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}




.blackwhite {
  background-image: linear-gradient(to right, #304352 0%, #d7d2cc 51%, #304352 100%);
}

.whiteblue {
  background-image: linear-gradient(to right, #1c92d2 0%, #f2fcfe 51%, #1c92d2 100%);
}

.whitered {
  background-image: linear-gradient(to right, #f7514b 0%, #FFFFFF 51%, #d0100a 100%);
}

.blackgreen {
  background-image: linear-gradient(to right, #000000 0%, #0f9b0f 51%, #000000 100%);
}

.blackred {
  background-image: linear-gradient(to right, #000000 0%, #e74c3c 51%, #000000 100%);
}


.btn-gradd {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  font-family: var(--fontDhurajati);
  letter-spacing: 1px;

  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  gap: 20px;
}

.btn-gradd:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.face 
{
  display: flex;

}


#about,
#catalogue,
#contact {
  scroll-margin-top: 100px;
}

.bizi
{
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 90px;
}


.poli 
{
  color:  rgb(201, 162, 75);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.pain
{
  color: black;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pain:hover
{
  content: '';
  color: #fff;
  transition: 0.5s;
}


/*others*/
.home-cony
{
 background: #020024;
 background: linear-gradient(90deg,rgb(4, 4, 5) 0%,  rgba(201, 161, 75, 0.322)50%, rgb(0, 0, 5) 100%);
 overflow: hidden;
 padding-top: 170px;
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 letter-spacing: 1px;
}

.home-cony::-webkit-scrollbar
{
  width: 0;
}